header {
   display: flex;
   justify-content: center;
   padding: 10px;
   background-color: #2E1C98;
   color: white;
}


h1 {
   margin: 0 auto 0 0;
}

.flat-line {
   margin-top: 10px;
   width: 100%;
   height: 5px;
   background-color: #E82041;
}

span.user-name {
   color: #d06e7e;
}


.door-icon{
   float: right;
   cursor: pointer;
}
