nav {
   margin-left: 15%;
}


nav ul {
   display: flex;
}

nav ul li {
   font-size: 1.2rem;
   list-style-type: none;
   padding-right: 17px;
   padding-left: 17px;

}

nav ul li:not(:last-child) {
   border-right: 2px solid white;
}

nav ul li a.active {
   border-radius: 6px;
   background-color: #E82041;
   padding: 5px;
}


header nav ul li a {
   color: white;
   text-decoration: none;
}